<h1>New Order Received!</h1>
<p>A new order has been placed.</p>
<p><strong>Time:</strong> {{date}}</p>
<p><strong>Order ID:</strong> {{id}}</p>
<p><strong>Customer:</strong> {{shipping.full_name}} {{shipping.fullName}} ({{shipping.phone}})</p>
<p><strong>Total:</strong> {{total}}</p>

<h3>Items:</h3>
<ul>
    {{#each items}}
    <li>{{this.title}} x {{this.quantity}}</li>
    {{/each}}
</ul>